/*************************************** 국가별 style *****************************************/
body * {
    font-family: 'Droid Sans',NanumGothic !important;
}

/* 일본 */
body.ja * {
    font-family: Meiryo UI !important;
}

@media print {
    * {
        -webkit-print-color-adjust: exact;
    }
}

/*********************************************************************************************/
.aceEditor-add{
    position:absolute;
    background:#BCF061;
    z-index : 20
}
.aceEditor-modify{
    position:absolute;
    background:#9ED2DD;
    z-index : 20
}
.aceEditor-delete{
    position:absolute;
    background:#E4A485;
    z-index : 20
}

.cellCursor .x-grid-cell {
    cursor: pointer;
}

/******************************************************* 怨듯넻 **************************************************************/
.opacity-hover:hover{
    opacity: 0.7
}

.x-tree-elbow-img {
    padding: 8px;
}

.x-tool-img {
    padding: 7px;
}


/* move time 遺�텇 css  */
.firstLeftOFF {
    background-image: url('../PA/images/FirstLeft_Off.png') !important;
    cursor: pointer;
}
.firstLeftOFF:hover {
    background-image: url('../PA/images/FirstLeft_On.png') !important;
    cursor: pointer;
}
.firstRightOFF {
    background-image: url('../PA/images/FirstRight_Off.png') !important;
    cursor: pointer;
}
.firstRightOFF:hover {
    background-image: url('../PA/images/FirstRight_On.png') !important;
    cursor: pointer;
}
.leftMoveOFF {
    background-image: url('../PA/images/LeftMove_Off.png') !important;
    cursor: pointer;
}
.leftMoveOFF:hover {
    background-image: url('../PA/images/LeftMove_On.png') !important;
    cursor: pointer;
}
.rightMoveOFF {
    background-image: url('../PA/images/RightMove_Off.png') !important;
    cursor: pointer;
}
.rightMoveOFF:hover {
    background-image: url('../PA/images/RightMove_On.png') !important;
    cursor: pointer;
}
.moveTimeOFF {
    background-image: url('../PA/images/MoveTime_Off.png') !important;
    cursor: pointer;
}
.moveTimeOFF:hover {
    background-image: url('../PA/images/MoveTime_On.png') !important;
    cursor: pointer;
}


/************************ performance-changeview button *********************/
.arrow_add {
    left: 4px;
    opacity: .4;
    background-image: url('../PA/images/arrow_l.png');
}

.arrow_remove {
    left: 4px;
    opacity: .4;
    background-image: url('../PA/images/arrow_r.png');
}

.arrow_up {
    left: 4px;
    opacity: .4;
    background-image: url('../PA/images/arrow_t.png');
}

.arrow_down {
    left: 4px;
    opacity: .4;
    background-image: url('../PA/images/arrow_b.png');
}
/**************************************************************************/





.button3d {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    width:80px;
    height:20px;
    line-height: 24px;
    font-size: 13px;
    /*border: 1px solid #107ead;*/
    /*border: 1px solid #009DD7;*/
    cursor: pointer;

    /*background: #00baff;*/

    border: 1px solid #4d899d;
    letter-spacing: 0px;
    background-image: -webkit-linear-gradient(top, #55d1ff 0%, #00b4f7 100%);
    background-image: -moz-linear-gradient(top, #55d1ff 0%, #00b4f7 100%);
    background-image: -ms-linear-gradient(top, #55d1ff 0%, #00b4f7 100%);
    background-image: -o-linear-gradient(top, #55d1ff 0%, #00b4f7 100%);
    background-image: linear-gradient(top, #55d1ff 0%, #00b4f7 100%);
    border-radius: 5px;
    text-shadow: 0px 1px 0px rgba(16,126,173,.9);
}


.button3d:hover {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    line-height: 24px;
    color: #fff;
    width:80px;
    height:20px;
    /*     font-weight: bold; */
    font-size: 14px;
    /*border: 1px solid #107ead;*/
    cursor: pointer;

    border: 1px solid #4d899d;
    letter-spacing: 0px;
    background-image: -webkit-linear-gradient(top, #40abf5 0%, #0091f7 100%);
    background-image: -moz-linear-gradient(top, #40abf5 0%, #0091f7 100%);
    background-image: -ms-linear-gradient(top, #40abf5 0%, #0091f7 100%);
    background-image: -o-linear-gradient(top, #40abf5 0%, #0091f7 100%);
    background-image: linear-gradient(top, #40abf5 0%, #0091f7 100%);
    /*border-radius: 5px;*/
    text-shadow: 0px 1px 0px rgba(16,126,173,.9);
}

.button3d span.x-btn-inner{
    color: #fff;
    font-size: 12px;
}

.button3d > span > div {
    font-size: 12px;
}

.button3d.xm-btn-w50 {
    width: 50px;
}
.button3d.xm-btn-w50:lang(ja) {
    width: 80px;
}

.button3d.xm-btn-w100 {
    width: 100px;
}


/***************************** Button *****************************************/
.xm-button-v1{
    z-index: 0;
    cursor: pointer;
    color : #fff;
    font-weight: bold;
}

.xm-button-v1:hover{
    color : #000;
}

.xm-button-v1:before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background-color: #52afd6;
    padding: 5px 18px;
    left: -18px;
    top: -5px;
    border-radius: 4px;
    z-index: -1;
    background: -webkit-linear-gradient(top, #6bb7d8 0%, #1291c9 100%);
    border: 1px solid #5ea6c7;
    font-weight: bold;
}

.xm-cancel-button {
    width: 60px;
}
.xm-cancel-button:lang(ja) {
    width: 80px;
}

/************************ performance-user defined button *********************/

.stat_change_b {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #717171 ;
    width:80px;
    height:20px;
    line-height: 24px;
    font-size: 13px;
    /*border: 1px solid #107ead;*/
    /*border: 1px solid #009DD7;*/
    cursor: pointer;

    border: 1px solid #717171;
    background: white;


    /*background: #00baff;*/
    /*border: 1px solid #4d899d;*/
    /*letter-spacing: 0px;*/
    /*background-image: -webkit-linear-gradient(top, #55d1ff 0%, #00b4f7 100%);*/
    /*background-image: -moz-linear-gradient(top, #55d1ff 0%, #00b4f7 100%);*/
    /*background-image: -ms-linear-gradient(top, #55d1ff 0%, #00b4f7 100%);*/
    /*background-image: -o-linear-gradient(top, #55d1ff 0%, #00b4f7 100%);*/
    /*background-image: linear-gradient(top, #55d1ff 0%, #00b4f7 100%);*/
    border-radius: 5px;
    /*text-shadow: 0px 1px 0px rgba(16,126,173,.9);*/
}


.stat_change_b:hover {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    line-height: 24px;
    color: #fff;
    width:80px;
    height:20px;
    /*     font-weight: bold; */
    font-size: 14px;
    /*border: 1px solid #107ead;*/
    cursor: pointer;
    background: #717171;

    border: 1px solid #717171;



    /*border: 1px solid #4d899d;*/
    letter-spacing: 0px;
    /*background-image: -webkit-linear-gradient(top, #40abf5 0%, #0091f7 100%);*/
    /*background-image: -moz-linear-gradient(top, #40abf5 0%, #0091f7 100%);*/
    /*background-image: -ms-linear-gradient(top, #40abf5 0%, #0091f7 100%);*/
    /*background-image: -o-linear-gradient(top, #40abf5 0%, #0091f7 100%);*/
    /*background-image: linear-gradient(top, #40abf5 0%, #0091f7 100%);*/
    /*border-radius: 5px;*/
    /*text-shadow: 0px 1px 0px rgba(16,126,173,.9);*/
}

.stat_change_b span.x-btn-inner{
    color: #fff;
    font-size: 12px;
}

.stat_change_b .x-btn-button .x-btn-inner-default-small{
    color: #666666;
}

.stat_change_b > span > div {
    font-size: 12px;
}
/************************************* XMWindow ***************************************/

.xm-window-base{
    border: 7px solid #424242 !important;
    border-radius: 6px;
    /*background: #424242 !important;*/
    overflow : visible;
}


div.xm-window-base .x-resizable-handle-north-over{
    /*background: #fff !important;*/
    background: #424242 !important;
    top: -7px;
}

div.xm-window-base .x-resizable-handle-south-over{
    /*background: #fff !important;*/
    background: #424242 !important;
    bottom: -7px;
}


div.xm-window-base .x-resizable-handle-west-over{
    /*background: #fff !important;*/
    background: #424242 !important;
    left: -7px;
}


div.xm-window-base .x-resizable-handle-east-over{
    /*background: #fff !important;*/
    background: #424242 !important;
    right: -7px;
}


.xm-window-base .x-resizable-handle-northeast-over{
    background: #424242 !important;
    top: -7px;
    right: -7px;
}

.xm-window-base .x-resizable-handle-northwest{
    background: #424242 !important;
    top: -7px;
    left: -7px;
}

.xm-window-base .x-resizable-handle-southeast{
    background: #424242 !important;
    bottom: -7px;
    right: -7px;
}

.xm-window-base .x-resizable-handle-southwest{
    background: #424242 !important;
    bottom: -7px;
    left: -7px;
}

.xm-window-base .x-resizable-handle-over{
    opacity: 0;
}

.xm-window-body{
    position: absolute;
    padding: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #FFF;
}

.xm-window-body > div.x-box-inner{
    width: 100% !important;
    height: 100% !important;
}

.xm-window-base{
    overflow: visible;
}
.xm-window-base div.xm-window-base-header{
    width: 100% !important;
    left: 0px!important;
    padding-top: 7px;
    border-bottom: 1px solid #B6B6B6 !important;
}


.xm-window-base div.x-header div.x-box-inner{
    width: 100% !important;
    height: 100% !important;
    background: #424242;
    cursor: move;
}

.xm-window-base .x-box-target{
    width: 100% !important;
    height: 100% !important;
}

.xm-window-base div.xm-window-base-header div.x-box-inner .x-box-target{
    width: 100% !important;
    height: 100% !important;
}

.xm-window-base div.xm-window-base-header div.x-box-inner .x-title-text{
    margin: 24px;
    padding-left: 7px;
    padding-right: 93px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Droid Sans', NanumGothic;
}

.xm-window-base div.xm-window-base-header div.x-title{
    width: 100% !important;
    height: 100% !important;
    line-height: 32px;
    background: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.xm-window-base div.xm-window-base-header div.x-box-inner .x-tool-maximize{
    /*position: absolute;*/
    /*left: -32px;*/
}

.xm-window-base div.xm-window-base-header div.x-box-inner .x-tool-restore{
    position: absolute;
    left: -32px;
}

.xm-window-base div.xm-window-base-header div.x-box-inner .x-tool-close{

}

/* XM Window */
div.xm-window-base div.xm-window-base-header div.x-header-body div.x-box-inner img{
    display: none;
}

div.xm-window-base div.xm-window-base-header div.x-header-body div.x-box-inner .x-box-target{
    margin-left: -32px;
}

div.xm-window-base div.xm-window-base-header div.x-header-body div.x-box-inner .x-header-text-container{
    left: 32px !important;
}


div.xm-window-base div.xm-window-base-header div.x-header-body div.x-box-inner .x-box-target .x-tool-default{
    width: 17px !important;
    height: 17px !important;
    background-image: url('/Intermax/PA/images/xm_icon_v1.png');
    /* background-image: url(../../images/xm_icon_v1.png); */
}

.xm-window-base div.xm-window-base-header div.x-header-body div.x-box-inner .x-box-target .x-tool-default:nth-child(2){
    background-position: -70px -131px;
    left: auto !important;
    right: 27px !important;
}

.xm-window-base div.xm-window-base-header div.x-header-body div.x-box-inner .x-box-target .x-tool-default:nth-child(2):hover{
    background-position: -70px -151px;
}

.xm-window-base div.xm-window-base-header div.x-header-body div.x-box-inner .x-box-target .x-tool-default:nth-child(2):before{
    position: absolute;
    top: -8px;
    left: -14px;
    height: 32px;
    border-right: 1px solid #c6c6c6;
    content: '';
}

.xm-window-base div.xm-window-base-header div.x-header-body div.x-box-inner .x-box-target .x-tool-default:nth-child(3){
    background-position: -70px -91px;
    left: auto !important;
    right: 27px !important;
}


.xm-window-base div.xm-window-base-header div.x-header-body div.x-box-inner .x-box-target .x-tool-default:nth-child(3):hover{
    background-position: -70px -111px;
}

.xm-window-base div.xm-window-base-header div.x-header-body div.x-box-inner .x-box-target .x-tool-default:nth-child(3):before{
    position: absolute;
    top: -8px;
    left: -14px;
    height: 32px;
    border-right: 1px solid #c6c6c6;
    content: '';
}

.xm-window-base div.xm-window-base-header div.x-header-body div.x-box-inner .x-box-target .x-tool-default:last-child{
    background-position: -70px -51px;
    left: auto !important;
    right: -18px !important;
}

.xm-window-base div.xm-window-base-header div.x-header-body div.x-box-inner .x-box-target .x-tool-default:last-child:hover{
    background-position: -70px -71px;
}

.xm-window-base div.xm-window-base-header div.x-header-body div.x-box-inner .x-box-target .x-tool-default:last-child:before{
    position: absolute;
    top: -8px;
    left: -14px;
    height: 32px;
    border-right: 1px solid #c6c6c6;
    content: '';
}

/************************************* Save Screen Css ***************************************/

div.save-screen-wrap{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    right: 0px;
    bottom: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.save-screen{
    /*     display: inline-block; */
    position: absolute;
    width: 900px;
    height: 500px;
    overflow: hidden;
    right: 7px;
    bottom: 32px;
    border-radius: 6px;
    border: 7px solid #000;
    box-shadow: 2px 2px 2px #000;
}

.save-screen-title{
    position: relative;
    /*width: 100%;*/
    height: 30px;
    background-color: #fff;
    border-bottom: 1px solid #AAA8A8;
    z-index: 1;
    font-size: 20px;
    /*font-weight: bold;*/
    color: #4D4D4D;
    line-height: 30px;
    text-align: left;
    padding-left: 20px;
}

.save-screen-title:lang(ja){
    font-size: 18px;
}

.save-screen-title .save-screen-title-number{
    margin-left: 3px;
    font-size: 20px;
}

.save-screen-title .save-screen-title-number:lang(ja){
    margin-left: 1px;
    font-size: 18px;
}

.save-screen-title .save-screen-title-close{
    position: absolute;
    top: 0px;
    right: 14px;
    border-left: 1px solid #ccc;
    padding-left: 10px;
}

.save-screen-title .save-screen-title-close a{
    display: block;
    width: 23px;
    height: 30px;
    background: url(../images/Close_ms_off.png) no-repeat;
    background-position-y: 4px;
}

.save-screen-title a:hover{
    background: url(../images/Close_ms_on.png) no-repeat;
    background-position-y: 4px;
}

.save-screen-content{
    position: relative;
    height: 430px;
    /*width: 100%;*/
    overflow: hidden;
    padding: 20px 30px 20px 30px;
    background: #fff;
}

.save-screen-content .save-screen-content-wrap{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.save-screen-image-wrap{
    position: absolute;
    white-space: nowrap;
    width: 100%;
    height: 100%;
}

.save-screen-image{
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-size: 18px;
    color: #bababa;
    background-image: url(../images/noImage.png);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    line-height: 520px;
    display: inline-block;
    vertical-align: middle;
}

.save-screen-image:lang(ja){
    font-size: 18px;
}

.save-screen-bottom{
    position: relative;
    height: 27px;
    width: 100%;
    border-top: 1px solid #7C7C7C;
    background-color: #B4B4B4;
}

.save-screen-navigation-wrap{
    position: absolute;
    width: 100%;
    height: 15px;
    bottom: 0px;
    left: 0px;
}

.save-screen-navigation{
    width: 100%;
    height: 100%;
}

.save-screen-navigation li{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #AFAFAF;
    border-radius: 50%;
    margin-right: 8px;
    cursor: pointer;
}

.save-screen-navigation li:hover{
    opacity: 0.7;
}

.save-screen-navigation li.active{
    background-color: #333;
}

.save-screen-navi{
    -webkit-transition: opacity 0.4s ease-in-out;
    position: absolute;
    top: 0px;
    width: 200px;
    height: 100%;
    cursor: pointer;
    opacity: 0.4;
    display: none;
}

.save-screen-navi:hover{
    opacity: 1;
}

.save-screen-navi.perv{
    background: url(../images/Left_ms_on.png) no-repeat;
    background-position-y: 194px;
    left: 10px;
}

.save-screen-navi.next{
    background: url(../images/Right_ms_on.png) no-repeat;
    background-position-y: 194px;
    background-position-x: 180px;
    right: 10px;
}

.save-screen-controll-wrap{
    height: 100%;
    padding: 0px 6px 0px 6px;
    text-align: right;
    line-height: 24px;
}

.save-screen-controll-wrap input{
    background: #FFF;
    border: none;
    border-radius: 4px;
    padding: 0px 2px 0px 2px;
}

.save-screen-controll-wrap a{
    padding: 0px 17px 0px 17px;
    color: #fff;
    display: block;
    height: 100%;
    border-left: 1px solid #ccc;
    float: right;
}

.save-screen-controll-wrap a:hover{
    opacity: 0.7;
}

.save-screen-text-wrap{
    float: right;
    width: 200px;
    height: 100%;
    padding: 0px 20px 0px 20px;
    border-left: 1px solid #ccc;
}

/*********************** Grid Show/Hide Select Item Window ******************************************/
.xm-selectitem-window-base .x-form-checkbox{
    background: url(../images/xm_icon_v1_b.png);
    width: 16px;
    height: 16px;
    margin-top: 3px;
    background-position: -5px -177px;
    cursor: pointer;
}

.xm-selectitem-window-base .x-form-checkbox-focus{
    background-position: -5px -177px;
}

.xm-selectitem-window-base .x-form-cb-checked .x-form-checkbox{
    background-position: -5px -160px;
}

.xm-selectitem-window-base .x-form-checkbox-focus.x-form-cb-checked{
    background-position: -5px -160px;
}

.xm-selectitem-window-base .x-grid-item-selected .x-grid-row-checker{
    background-position: 0px -13px;
}

/*********************** SyntaxEditor ******************************************/
body div.ace_editor * {
    font-family: Consolas !important;
    font-size: 12px !important;
}

.x-grid-empty {
    padding: 10px;
    color: gray;
    background-color: white;
    font-size: 11px;
    width: 100%;
    text-align: center;
    top: 45%;
    position: absolute;
    transform: translate(0, -50%);
}

/*********************** Exem.TreeWindow ******************************************/
.Exem-TreeWindow-contentCon{
    background : #ffffff;
}

.Exem-TreeWindow-bottomArea{
    background : #ffffff;
}

.rect-arrow .arrow > rect:nth-child(1) {
    fill : #757575
}

.rect-arrow .arrow > rect:nth-child(2) {
    fill : #616161
}

.rect-arrow .normal > rect:nth-child(1) {
    fill : #6fbffc;
}

.rect-arrow .normal > rect:nth-child(2) {
    fill : #1e95f8;
}

.rect-arrow .warning > rect:nth-child(1) {
    fill : #a6f3e6;
}

.rect-arrow .warning > rect:nth-child(2) {
    fill : #60d9c7;
}

.rect-arrow .critical > rect:nth-child(1) {
    fill : #fdcacb;
}

.rect-arrow .critical > rect:nth-child(2) {
    fill : #fe9492;
}

/*********************** rtm.rtmTrackTaskSummary ******************************************/

.rtmTrackTaskSummary {
    color: #ABAEB5;
    font-size : 13px;
    font-family: 'Droid Sans', NanumGothic;
}

.rtmTrackTaskSummary .txnImg, .rtmTrackTaskSummary .visitorImg, .rtmTrackTaskSummary .averageImg,
.rtmTrackTaskSummary .runningImg, .rtmTrackTaskSummary .errorImg{
    background-image: url(../images/xm_icon_White_v1.png);
    background-position-y : 74px;
}

.rtmTrackTaskSummary .txnImg {
    background-position-x : 6px;
}

.rtmTrackTaskSummary .visitorImg {
    background-position-x : -38px;
}

.rtmTrackTaskSummary .averageImg {
    background-position-x : -83px;
}

.rtmTrackTaskSummary .runningImg {
    background-position-x : -128px;
}

.rtmTrackTaskSummary .errorImg {
    background-position-x : -173px;
}

.rtmTrackTaskSummary .txnDisplay, .rtmTrackTaskSummary .visitorDisplay, .rtmTrackTaskSummary .averageDisplay,
.rtmTrackTaskSummary .runningDisplay, .rtmTrackTaskSummary .errorDisplay{
    margin: 4px 0 0 4px;
}

.rtmTrackTaskSummary .txnDisplay .txnToday, .rtmTrackTaskSummary .txnDisplay .txnYesterday, .rtmTrackTaskSummary .visitorDisplay span, .rtmTrackTaskSummary .averageDisplay span,
.rtmTrackTaskSummary .runningDisplay span, .rtmTrackTaskSummary .errorDisplay span{
    font-size : 20px;
    display: inline-block;
    margin-top: 1px;
    vertical-align: sub;
}

.rtmTrackTaskSummary .summaryDevider {
    background-image: url(../images/sidebyside.png);
}